materia
soy modificar
</form>



{{#each materia}}

<div class="row">
  <div class="col-2"></div>
  <div class="col-2 border-top">{{id_materia}}</div>
  <div class="col-4 border-top">{{materia}}</div>
  <div class="col-2 border-top">

    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#editar{{id_materia}}">
      editar
    </button>
  </div>
  <div class="col-2  "></div>
</div>





<!-- Modal editar -->
<div class="modal fade" id="editar{{id_materia}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <form action="/materia/modificaar/{{id_materia}}" method="post">
          <div class="form-group">
            <label for="exampleInputEmail1">materia</label>
            <input class="form-control" name="materia" aria-describedby="emailHelp" placeholder="" value="{{materia}}">
          </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" value="{{id_materia}}" class="btn btn-primary">enviar</button>
        </form>
      </div>
    </div>
  </div>
</div>

{{/each}}