<h2>yo soy agregar estudiantes</h2>
</form>
    {{#each notas}}
<div class="container">
  <div class="row">
      <h5> id_notas</h5>
    <div class="col-sm">
      {{id_notas}}
      </div>
      <h5>id_Estudiantes</h5>
    <div class="col-sm">
      {{id_estudiantes}}
    </div>
    <h5>id_docentes</h5>
    <div class="col-sm">
      {{id_docentes}}
    </div>
    <h5>id_materia</h5>
    <div class="col-sm">
      {{id_materia}}
    </div>
    <h5>id_periodo</h5>
    <div class="col-sm">
      {{id_periodo}}
    </div>
    <h5>nota</h5>
    <div class="col-sm">
      {{nota}}
    </div>
  
</div>
{{/each}}

