<h2>yo soy agregar estudiantes</h2>
</form>
{{#each notas}}
<div class="container">
  <div class="row">
    <h5> id_notas</h5>
    <div class="col-sm">
      {{id_notas}}
    </div>
    <h5>id_Estudiantes</h5>
    <div class="col-sm">
      {{id_estudiantes}}
    </div>
    <h5>id_docentes</h5>
    <div class="col-sm">
      {{id_docentes}}
    </div>
    <h5>id_materia</h5>
    <div class="col-sm">
      {{id_materia}}
    </div>
    <h5>id_periodo</h5>
    <div class="col-sm">
      {{id_periodo}}
    </div>
    <h5>nota</h5>
    <div class="col-sm">
      {{nota}}
    </div>

  </div>

  {{/each}}




  <div class="container p-4">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="car-bady">
            <form action="" method="post">
              <div class="form-group">
                <label for="">Registrar</label>
              </div>
              <div class="form-group">
                <select name="id_estudiantes" id="1">
                  {{#each estu}} <option value="{{id_estudiantes}}">{{nombre_estu}}</option> {{/each}}
                </select>

              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="nota" id="" placeholder=" nota">
              </div>
              <div class="form-group">
                <select name="id_docentes">
                  {{#each docen}}
                  <option value="{{id_docente}}">{{nombre_docen}}</option>
                  {{/each}}
                </select><br>
              </div>
              <div class="form-group">
                <select name="id_materia">
                  {{#each materia}}
                  <option value="{{id_materia}}">{{materia}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="form-group">
                <select name="id_periodo">
                  {{#each periodo}}
                  <option value="{{id_periodo}}">{{periodo}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-success btn-block">Enviar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>


   