{{#each notas}}
<div class="container">
    <div class="row">
        <h5> id_notas</h5>
        <div class="col-sm">
            {{id_notas}}
        </div>
        <h5>id_Estudiantes</h5>
        <div class="col-sm">
            {{id_estudiantes}}
        </div>
        <h5>id_docentes</h5>
        <div class="col-sm">
            {{id_docentes}}
        </div>
        <h5>id_materia</h5>
        <div class="col-sm">
            {{id_materia}}
        </div>
        <h5>id_periodo</h5>
        <div class="col-sm">
            {{id_periodo}}
        </div>
        <h5>nota</h5>
        <div class="col-sm">
            {{nota}}
        </div>
        <div class="col-sm">
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#eliminar{{id_notas}}">
                eliminar
            </button>
        </div>
    </div>
</div>

<!-- Modal eliminar -->
<div class="modal fade" id="eliminar{{id_notas}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Esta seguro que desea eliminar los datos de: {{nota}}




            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a class="btn btn-danger" href="/notas/eliminar/{{id_notas}}">eliminar</a>
            </div>
        </div>
    </div>
</div>


{{/each}}