{{#each notas}}
<div class="container">
  <div class="row">
    <h5> id_notas</h5>
    <div class="col-sm">
      {{id_notas}}
    </div>
    <h5>id_Estudiantes</h5>
    <div class="col-sm">
      {{id_estudiantes}}
    </div>
    <h5>id_docentes</h5>
    <div class="col-sm">
      {{id_docentes}}
    </div>
    <h5>id_materia</h5>
    <div class="col-sm">
      {{id_materia}}
    </div>
    <h5>id_periodo</h5>
    <div class="col-sm">
      {{id_periodo}}
    </div>
    <h5>nota</h5>
    <div class="col-sm">
      {{nota}}
    </div>
    <div class="col-sm">
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#editar{{id_notas}}">
        editar
      </button>
    </div>
  </div>
</div>



<!-- Modal editar -->
<div class="modal fade" id="editar{{id_notas}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <form action="/notas/modificaar/{{id_notas}}" method="post">
          <div class="form-group">
            <label for="exampleInputEmail1">materia</label>
            <input class="form-control" name="nota" aria-describedby="emailHelp" placeholder="" value="{{nota}}">
          </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" value="{{id_notas}}" class="btn btn-primary">enviar</button>
        </form>
      </div>
    </div>
  </div>
</div>

{{/each}}

