estudiantes
soy eliminar
</form>

    {{#each estu}}

<div class="container">
  <div class="row">
      <div class="col-sm">
      {{id_estudiantes}}
    </div>
    <div class="col-sm">
      {{nombre_estu}}
    </div>
    <div class="col-sm">
      {{edad}}
    </div>
    <div class="col-sm">
      {{correo}}
    </div>

  <div class="col-sm">
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#eliminar{{id_estudiantes}}">
        eliminar
      </button>
    </div>
  </div>
</div>

<!-- Modal eliminar -->
<div class="modal fade" id="eliminar{{id_estudiantes}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Esta seguro que desea eliminar los datos de: {{nombre_estu}}




      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a class="btn btn-danger" href="/estu/eliminar/{{id_estudiantes}}">eliminar</a>
      </div>
    </div>
  </div>
</div>



{{/each}}