docente
soy modificar
</form>
    {{#each docen}}
<div class="container">
  <div class="row">
    <div class="col-sm">
      {{id_docente}}
    </div>
    <div class="col-sm">
      {{nombre_docen}}
    </div>
    <div class="col-sm">
      {{edad}}      
    </div>
    <div class="col-sm">
      {{correo}}
    </div>
    <div>
      <a href="/docen/modificar/{{id_docente}}">Modificar</a>
    </div>
  </div>
</div>
{{/each}}

{{#each docenid}}
<div class="container p-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="car-bady">
                    <form action="/docen/modificaar/{{id_docente}}"method="post">
                        <div class="form-group">
                            <label for="">Registrar</label>
                        </div>
                          <div class="form-group">
                            <input class="form-control" value="{{nombre_docen}}"name="nombre_docen"  placeholder=" ingresar edad"id="" >
                        </div>
                        <div class="form-group">
                            <input class="form-control" value="{{edad}}"type="text" name="edad"placeholder=" ingresar correo" id="">
                        </div>
                        <div class="form-group">
                            <input class="form-control" value="{{correo}}"type="text" name="correo"placeholder=" ingresar correo" id="">
                        </div>

                        <div class="form-group">
                            <button  type="submit" value="{{id_docente}}" class="btn btn-success btn-block"> Enviar</button> 
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


{{/each}}
